{% extends 'base.html.twig' %}

{%block title %} Cadastro de imóveis {% endblock %}

{%block body %}

    {{ form_start(form, {'action': path('imovel_save'), 'method': 'POST'}) }}

    <div class="form-group">
        {{  form_errors(form.titulo) }}
        {{ form_label(form.titulo) }}
        {{ form_widget(form.titulo, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{  form_errors(form.tamanho) }}
        {{ form_label(form.tamanho) }}
        {{ form_widget(form.tamanho, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{  form_errors(form.preco) }}
        {{ form_label(form.preco) }}
        {{ form_widget(form.preco, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{  form_errors(form.tipo) }}
        {{ form_label(form.tipo) }}
        {{ form_widget(form.tipo, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{  form_errors(form.foto) }}
        {{ form_label(form.foto) }}
        {{ form_widget(form.foto, {'attr': {'class': 'form-control'}}) }}
    </div>

    {{ form_end(form) }}

{% endblock %}
